* {
    transition: 50ms all;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("images/tony-montana.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.glass {
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0.1) );
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}

.container {
    min-width: 95vw;
    max-width: 95vh;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#clock {
    position: relative;
    font-family: system-ui;
    width: auto;
    height: auto;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 3px 10px;
    margin: 20px 20px 0 0;
    background-color: #151320;
}

#clock::selection {
    color: white;
}

#name {
    position: relative;
    width: auto;
    height: auto;
    color: #fff;
    background-color: #151320;
    text-align: center;
    border-radius: 3px;
    margin: 20px 0 0 20px;
    padding: 1px 10px;
}

header h1{
    font: 700 1.5em system-ui;
    margin: auto;
}

#clock::before, #clock::after, #name::before, #name::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    border-radius: 8px;
    background: linear-gradient(45deg,
            #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000,
            #ff0055, #ff0000, #ffff00, #00ff00, #0099ff, #001aff, #a200ff);
    background-size: 400%;
    animation: border 100s linear infinite;
}

#clock::before, #clock::after {
    top: -3px;
    right: -3px;
}

#name::before, #name::after {
    top: -3px;
    left: -3px;
}

#clock::after ,#name::after {
    filter: blur(10px);
}

#name h1 {
    padding: 0 5px;
}

main {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.p-1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    gap: 10px;
    max-height: 90vh;
    max-width: 90vw;
    overflow: hidden;

}

.p-2 {
    min-height: 70vh;
    max-height: 100vh;
    min-width: 45vw;
    max-width: 45vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botones {
    width: 15vmin;
    max-width: 150px;
    max-height: 150px;
    height: 15vmin;
    background-color: rgba(100, 100, 100, 0.45);
    color: white;
    border-radius: 12px;
    padding: 5px;
    text-decoration: none;
    transition: 300ms all;
}

.botones:hover {
    transform: scale(1.05);
}

#spotify {
    margin-top: 15px;
    width: 40vw;
    height: 70vh;
}

.youtube, .gmail-1, .gmail-2, .apuntes-majo, .github, .udemy, .alura, .instagram, .twitter, .twitch, .inacap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.youtube img, .gmail-1 img, .gmail-2 img, .apuntes-majo img, .github img, .udemy img, .alura img, .instagram img, .twitter img, .twitch img, .inacap img {
    max-width: 12vmin;
    max-height: 12vmin;
    margin: auto;
}

@keyframes border {

    0%,
    100% {
        background-position: 0 0;
    }

    50% {
        background-position: 200%;
    }
}

@media screen and (max-width: 600px) {

    main {
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }

    .p-1, .p2 {
        min-width: 80vw;
        min-height: 60vh;
    }

    #spotify {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 90vw;
        height: 70vh;
    }

    .youtube, .gmail-1, .gmail-2, .apuntes-majo, .github, .udemy, .alura, .instagram, .twitter, .twitch, .inacap {
        min-width: 19vmin;
        min-height: 19vmin;
    }

    .youtube img, .gmail-1 img, .gmail-2 img, .apuntes-majo img, .github img, .udemy img, .alura img, .instagram img, .twitter img, .twitch img, .inacap img {
        max-width: 14vmin;
        max-height: 14vmin;
    }

}